
.min-w-sm	{ min-width: rem(150px) !important; }
.min-w		{ min-width: rem(250px) !important; }
.min-w-lg	{ min-width: rem(350px) !important; }
.min-w-100	{ min-width: 100% !important; }

.max-w-sm	{ max-width: rem(150px) !important; }
.max-w		{ max-width: rem(350px) !important; }
.max-w-lg	{ max-width: rem(650px) !important; }


.min-h-sm	{ min-height: rem(150px) !important; }
.min-h		{ min-height: rem(250px) !important; }
.min-h-lg	{ min-height: rem(350px) !important; }
.min-h-100	{ min-height: 100% !important; }

.max-h-sm	{ max-height: rem(150px) !important; }
.max-h		{ max-height: rem(350px) !important; }
.max-h-lg	{ max-height: rem(650px) !important; }
