
.carousel { transition: opacity $transition-base-duration; display: flex; flex-wrap: wrap;
	&:not(.slick-initialized) { opacity: 0; max-height: rem(200px); }
	&:hover {
		.slick-arrow { opacity: 1; }
	}
}

.slick-arrow { background: transparent; border: 0; font-size: 0; position: relative; z-index: 1; flex: 0 0 auto; width: auto; max-width: 100%; transition: $transition-base;
	&::after {
		font-size: $font-size-base;
		color: $gray-darker;
	}
	&:focus { outline: 0; }
}

.slick-prev { padding: 0 $spacer 0 0;
	&::after { @include fas('f053'); }

	+ .slick-list { flex-basis: 0; }
}

.slick-next { padding: 0 0 0 $spacer;
	&::after { @include fas('f054'); }
}

.slick-list { margin: 0 $grid-gutter-width / -2; flex-grow: 1; }

.slick-track { display: flex; flex-wrap: nowrap; }

.slick-slide { margin: 0 $grid-gutter-width / 2; }

.slick-dots { flex: 0 0 100%; display: flex; justify-content: center; align-items: center; font-size: 0; line-height: 0; margin: $spacer 0; padding: 0; height: $spacer; width: 100%;
	li { margin: 0 map-get($spacers, 1);
		button { width: $spacer * 3/4; height: $spacer * 3/4; padding: 0; border-radius: 50%; border: rem(2px) solid $gray-medium; background-color: $gray-medium; transition: $transition-base; }
		&.slick-active button { background-color: $gray-darker; border-color: $gray-darker; }
	}
}

.carousel-thumbnails {
	.slick-list { margin: 0 $grid-gutter-width / -4; }
	.slick-slide { border: $border-width solid $border-color; border-radius: $border-radius; overflow: hidden; margin: 0 $grid-gutter-width / 4; }
	.slick-active { border-color: $secondary; }
}

.carousel-btn-arrows { align-items: center;
	&:hover .slick-arrow { opacity: 1; }

	.slick-prev, .slick-next { background: $gray-medium; padding: map-get($spacers, 4) map-get($spacers, 1) * 3; position: absolute;
		@include media-breakpoint-up(xl) { opacity: 0; }

		&::after, &::before { font-size: 1.1rem; }
		&:hover, &:focus { background: $primary; }
	}

	.slick-prev { left: 0; transform: translateX(-20%); }
	.slick-next { right: 0; transform: translateX(20%); }
}

[data-gallery] .slick-slide { cursor: zoom-in; }

.carousel-fullwidth { width: 100%;
	.slick-list, .slick-slide { margin: 0; }
	.slick-slide > div { height: 100%; }

	.slick-prev { left: 2rem; transform: translateX(-20%); }
	.slick-next { right: 2rem; transform: translateX(20%); }
	.slick-dots { position: absolute; bottom: 1rem; }
}