.image-box {
  position: relative;
}
/*Variante A*/
.ribbon-a {
  line-height: 0.8em;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  letter-spacing: -1px;
  display: block;
  width: 6rem;
  height: 4rem;
  background: linear-gradient(to bottom, #999999 0%, #cccccc 100%);
  color: white;
  float: left;
  padding-top: 1rem;
  position: absolute;
  -webkit-filter: drop-shadow(0 0.5rem 0.3em rgba(0, 0, 0, 0.3));
  transform: translate3d(0, 0, 0);
  z-index: $zindex-dropdown + 1;
  text-transform: uppercase;
  transition: top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-right: 3rem solid transparent;
    border-left: 3rem solid transparent;
    border-top: 1.5rem solid #CCCCCC;
    position: absolute;
    top: 4rem;
    left: 0;
  }
  &.ribbon--1 {
    background: linear-gradient(to bottom, $ribbon-bg-1 0%, lighten($ribbon-bg-1, 15%) 100%);
    &::after {
      border-top: 1.5rem solid lighten($ribbon-bg-1, 15%);
    }
  }
  &.ribbon--2 {
    background: linear-gradient(to bottom, $ribbon-bg-2 0%, lighten($ribbon-bg-2, 15%) 100%);
    &::after {
      border-top: 1.5rem solid lighten($ribbon-bg-2, 15%);
    }
  }
  &.ribbon--3 {
    background: linear-gradient(to bottom, $ribbon-bg-3 0%, lighten($ribbon-bg-3, 15%) 100%);
    &::after {
      border-top: 1.5rem solid lighten($ribbon-bg-3, 15%);
    }
  }
  &.ribbon--4 {
    background: linear-gradient(to bottom, $ribbon-bg-4 0%, lighten($ribbon-bg-4, 15%) 100%);
    &::after {
      border-top: 1.5rem solid lighten($ribbon-bg-4, 15%);
    }
  }
  &.ribbon--5 {
    background: linear-gradient(to bottom, $ribbon-bg-5 0%, lighten($ribbon-bg-5, 15%) 100%);
    &::after {
      border-top: 2.5rem solid lighten($ribbon-bg-5, 15%);
    }
  }
  &.ribbon--6 {
    background: linear-gradient(to bottom, $ribbon-bg-6 0%, lighten($ribbon-bg-6, 15%) 100%);
    &::after {
      border-top: 1.5rem solid lighten($ribbon-bg-6, 15%);
    }
  }
  &.ribbon--7 {
    background: linear-gradient(to bottom, $ribbon-bg-7 0%, lighten($ribbon-bg-7, 15%) 100%);
    &::after {
      border-top: 1.5rem solid lighten($ribbon-bg-7, 15%);
    }
  }
  &.ribbon--8 {
    background: linear-gradient(to bottom, $ribbon-bg-8 0%, lighten($ribbon-bg-8, 15%) 100%);
    &::after {
      border-top: 1.5rem solid lighten($ribbon-bg-8, 15%);
    }
  }
  &.ribbon--9 {
    background: linear-gradient(to bottom, $ribbon-bg-9 0%, lighten($ribbon-bg-9, 15%) 100%);
    &::after {
      border-top: 1.5rem solid lighten($ribbon-bg-9, 15%);
    }
  }
  &.ribbon-top-left {
    top: 0;
    left: 0;
    margin-left: -10px;
  }
  &.ribbon-top-right {
    top: 0;
    right: 0;
    margin-right: -10px;
  }
  &.ribbon-bottom-left {
    bottom: 3rem;
    left: 0;
    margin-left: -10px;
    @include media-breakpoint-down(md) {
      bottom: 2rem;
    }
  }
  &.ribbon-bottom-right {
    bottom: 3rem;
    right: 0;
    margin-right: -10px;
    @include media-breakpoint-down(md) {
      bottom: 2rem;
    }
  }
}

/*Variante B*/
.ribbon-b {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: $zindex-dropdown + 1;
  text-transform: uppercase;
  transition: top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  &::before,
  &::after {
    position: absolute;
    content: '';
    display: block;
    border: 5px solid transparent;
  }
  span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font-weight: $font-weight-semibold;
    font-size: 1.1rem;
    line-height: 1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-align: center;
  }

  &.ribbon--1{
    span {
      background: $ribbon-bg-1;
    }
    &::before,
    &::after {
      border-color: darken($ribbon-bg-1, 10%);
    }
  }
  &.ribbon--2{
    span {
      background: $ribbon-bg-2;
    }
    &::before,
    &::after {
      border-color: darken($ribbon-bg-2, 10%);
    }
  }
  &.ribbon--3{
    span {
      background: $ribbon-bg-3;
    }
    &::before,
    &::after {
      border-color: darken($ribbon-bg-3, 10%);
    }
  }
  &.ribbon--4{
    span {
      background: $ribbon-bg-4;
    }
    &::before,
    &::after {
      border-color: darken($ribbon-bg-4, 10%);
    }
  }
  &.ribbon--5{
    span {
      background: $ribbon-bg-5;
    }
    &::before,
    &::after {
      border-color: darken($ribbon-bg-5, 10%);
    }
  }
  &.ribbon--6{
    span {
      background: $ribbon-bg-6;
    }
    &::before,
    &::after {
      border-color: darken($ribbon-bg-6, 10%);
    }
  }
  &.ribbon--7{
    span {
      background: $ribbon-bg-7;
    }
    &::before,
    &::after {
      border-color: darken($ribbon-bg-7, 10%);
    }
  }
  &.ribbon--8{
    span {
      background: $ribbon-bg-8;
    }
    &::before,
    &::after {
      border-color: darken($ribbon-bg-8, 10%);
    }
  }
  &.ribbon--9{
    span {
      background: $ribbon-bg-9;
    }
    &::before,
    &::after {
      border-color: darken($ribbon-bg-9, 10%);
    }
  }
  /* top left*/
  &.ribbon-top-left {
    top: 0;
    left: 0;
    margin-top: -10px;
    margin-left: -10px;
    &::before,
    &::after {
      border-top-color: transparent;
      border-left-color: transparent;
    }
    &::before {
      top: 0;
      right: 0;
    }
    &::after {
      bottom: 0;
      left: 0;
    }
    span {
      right: -25px;
      top: 30px;
      transform: rotate(-45deg);
    }
  }
  /* top right*/
  &.ribbon-top-right {
    top: 0;
    right: 0;
    margin-top: -10px;
    margin-right: -10px;
    &::before,
    &::after {
      border-top-color: transparent;
      border-right-color: transparent;
    }
    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }
    span {
      left: -25px;
      top: 30px;
      transform: rotate(45deg);
    }
  }
  /* bottom left*/
  &.ribbon-bottom-left {
    bottom: 0;
    left: 0;
    margin-bottom: -10px;
    margin-left: -10px;
    &::before,
    &::after {
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    &::before {
      bottom: 0;
      right: 0;
    }
    &::after {
      top: 0;
      left: 0;
    }
    span {
      right: -25px;
      bottom: 30px;
      transform: rotate(45deg);
    }
  }
  /* bottom right*/
  &.ribbon-bottom-right {
    bottom: 0;
    right: 0;
    margin-bottom: -10px;
    margin-right: -10px;
    &::before,
    &::after {
      border-bottom-color: transparent;
      border-right-color: transparent;
    }
    &::before {
      bottom: 0;
      left: 0;
    }
    &::after {
      top: 0;
      right: 0;
    }
    span {
      left: -25px;
      bottom: 30px;
      transform: rotate(-45deg);
    }
  }
}

/*Variante C*/
.ribbon-c {
  position: absolute;
  padding: 8px 16px;
  float: left;
  background-color: #eee;
  font-weight: $font-weight-semibold;
  color: #fff;
  z-index: $zindex-dropdown + 1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  transition: top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-left: 20px solid #eee;
    border-right: 20px solid #eee;
    border-bottom: 10px solid transparent;
  }
  &.ribbon--1{
    background: $ribbon-bg-1;
    color: $ribbon-color-1;
    &::after {
      border-color: darken($ribbon-bg-1,10%) darken($ribbon-bg-1,10%) transparent;
    }
  }
  &.ribbon--2{
    background: $ribbon-bg-2;
    color: $ribbon-color-2;
    &::after {
      border-color: darken($ribbon-bg-2,10%) darken($ribbon-bg-2,10%) transparent;
    }
  }
  &.ribbon--3{
    background: $ribbon-bg-3;
    color: $ribbon-color-3;
    &::after {
      border-color: darken($ribbon-bg-3,10%) darken($ribbon-bg-3,10%) transparent;
    }
  }
  &.ribbon--4{
    background: $ribbon-bg-4;
    color: $ribbon-color-4;
    &::after {
      border-color: darken($ribbon-bg-4,10%) darken($ribbon-bg-4,10%) transparent;
    }
  }
  &.ribbon--5{
    background: $ribbon-bg-5;
    color: $ribbon-color-5;
    &::after {
      border-color: darken($ribbon-bg-5,10%) darken($ribbon-bg-5,10%) transparent;
    }
  }
  &.ribbon--6{
    background: $ribbon-bg-6;
    color: $ribbon-color-6;
    &::after {
      border-color: darken($ribbon-bg-6,10%) darken($ribbon-bg-6,10%) transparent;
    }
  }
  &.ribbon--7{
    background: $ribbon-bg-7;
    color: $ribbon-color-7;
    &::after {
      border-color: darken($ribbon-bg-7,10%) darken($ribbon-bg-7,10%) transparent;
    }
  }
  &.ribbon--8{
    background: $ribbon-bg-8;
    color: $ribbon-color-8;
    &::after {
      border-color: darken($ribbon-bg-8,10%) darken($ribbon-bg-8,10%) transparent;
    }
  }
  &.ribbon--9{
    background: $ribbon-bg-9;
    color: $ribbon-color-9;
    &::after {
      border-color: darken($ribbon-bg-9,10%) darken($ribbon-bg-9,10%) transparent;
    }
  }

  &.ribbon-top-left {
    top: 5%;
    left: 0;
    margin-left: -20px;
    &::after {
      left: 0;
      border-left: 0;
    }
  }
  &.ribbon-top-right {
    top: 5%;
    right: 0;
    margin-right: -20px;
    &::after {
      right: 0;
      border-right: 0;
    }
  }
  &.ribbon-bottom-left {
    bottom: 5%;
    left: 0;
    margin-left: -20px;
    &::after {
      left: 0;
      border-left: 0;
    }
  }
  &.ribbon-bottom-right {
    bottom: 5%;
    right: 0;
    margin-right: -20px;
    &::after {
      right: 0;
      border-right: 0;
    }
  }
}

/* sliders */
.evo-slider {
  .slick-slide {
    padding-top: 10px;
    bottom: 10px;
    .img-fluid {
      width: 100%;
    }
  }
  .ribbon-a {
    width: 4rem;
    height: 2rem;
    font-size: 0.7rem;
    padding-top: 0.8rem;
    &::after {
      border-right: 2rem solid transparent;
      border-left: 2rem solid transparent;
      top: 2rem;
    }
    &.ribbon-bottom-left {
      bottom: 2rem;
    }
    &.ribbon-bottom-right {
      bottom: 2rem;
    }
  }

  .ribbon-b {
    width: 100px;
    height: 100px;
    span {
      width: 162px;
      padding: 6px 0;
      color: #fff;
      font-size: 0.8rem;
    }
  }

  .ribbon-c {
    font-size: 0.8rem;
    padding: 4px 8px;
  }
}

@include media-breakpoint-up(md) {
  .product-cell.hover-enabled {
    &:hover {
      .ribbon-top-left {
        top: -10%;
        left: -5%;
      }
      .ribbon-top-right {
        top: -10%;
        right: -5%;
      }
      .ribbon-bottom-left {
        left: -5%;
      }
      .ribbon-bottom-right {
        right: -5%;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .ribbon-a {
    width: 4rem;
    height: 2rem;
    font-size: 0.7rem;
    padding-top: 0.8rem;
    &::after {
      border-right: 2rem solid transparent;
      border-left: 2rem solid transparent;
      top: 2rem;
    }
    &.ribbon-bottom-left {
      bottom: 2rem;
    }
    &.ribbon-bottom-right {
      bottom: 2rem;
    }
  }

  .ribbon-b {
    width: 100px;
    height: 100px;
    span {
      width: 162px;
      padding: 6px 0;
      font-size: 0.8rem;
    }
  }

  .ribbon-c {
    font-size: 0.8rem;
    padding: 4px 8px;
  }
}