.ui-slider-horizontal {
  height: 0.5em;
  .ui-widget-header{
    background: $primary;
  }
  .ui-slider-handle {
    top: -0.4em;
    border-radius: 50%;
    background: $primary;
    border: 0;
    box-shadow: 0px 0px 0px 2px rgba(248,191,0,0.5);
  }
}