variables:
  GLOBAL_CI_REGISTRY_URL: "registry.gitlab.com/jtl-software/jtl-shop/core"

stages:
  - test
  - cleanUpTest
  - build
  - deploy
  - cleanUp
  - tagsDeployment
  - stagingPre
  - staging

.testingScript: &testingScript |
  export CI_CONTAINER_NAME=ci-job-$CI_PROJECT_NAME-testing-$CI_COMMIT_SHA-php$PHP_VERSION_TEST_STEP

  function testing() {
    echo "Testing projekt in PHP $PHP_VERSION_TEST_STEP docker image..."

    docker run \
      -w '/creation' \
      --volume $(pwd):/dockerBuild \
      --name="$CI_CONTAINER_NAME" \
      $GLOBAL_CI_REGISTRY_URL/testing-php$PHP_VERSION_TEST_STEP \
      sh -c "cp -r /dockerBuild/. /creation; bash build/scripts/tests.sh"

    docker stop "$CI_CONTAINER_NAME"
    docker rm -fv "$CI_CONTAINER_NAME" >/dev/null

    echo "Tests finished"
  }

.cleanUpTesting: &cleanUpTesting |
  function failedTesting() {
    export CI_CONTAINER_NAME=ci-job-$CI_PROJECT_NAME-testing-$CI_COMMIT_SHA-php$PHP_VERSION_TEST_STEP
    export running=$(docker inspect -f '{{.State.Running}}' $CI_CONTAINER_NAME)

    if [[ ! -z "$running" ]]; then
      docker stop $CI_CONTAINER_NAME && docker rm -fv $CI_CONTAINER_NAME
    fi
  }

.preBuildDeployScripts: &preBuildDeployScripts |
  export CI_CONTAINER_NAME=ci-job-$CI_PROJECT_NAME-build-deploy-$CI_COMMIT_SHA
  export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')
  export BUILD_SCRIPT_PATH=build/scripts/build.sh
  export DEPLOY_SCRIPT_PATH=build/scripts/deploy.sh

  function dockerLogin() {
    echo "Logging to GitLab Container Registry with CI credentials..."
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    echo ""
  }
  function buildProcess() {
    export RAND_CHAR=$(date +%s|sha256sum|head -c 6)
    export DB_NAME="build_$RAND_CHAR"
    export DB_HOST_NET=$(docker network inspect -f '{{range .Containers}}{{if eq .Name "mysql-5-5-container"}}{{.IPv4Address}}{{end}}{{end}}' mysql-php-network)
    export DB_HOST="${DB_HOST_NET::-3}"

    echo "Building projekt in PHP 7.3 and mysql server 5.5 docker image..."
    docker run \
      -d -it \
      -w '/creation' \
      --volume $CI_PROJECT_DIR.tmp/CI_SERVER_TLS_CA_FILE:$CI_PROJECT_DIR.tmp/CI_SERVER_TLS_CA_FILE \
      --volume $(pwd):/dockerBuild \
      --name="$CI_CONTAINER_NAME" \
      --network="mysql-php-network" \
      $GLOBAL_CI_REGISTRY_URL/build-deploy-php5.6 \
      bash

    docker exec \
      -w '/creation' \
      $CI_CONTAINER_NAME \
      sh -c "cp -r /dockerBuild/. /creation; bash $BUILD_SCRIPT_PATH '/creation' $CI_COMMIT_REF_NAME '$DB_HOST' 'root' '$DOCKER_MARIADB_PASSWORD' 'build_$DB_NAME'"

    echo "Build finished"
  }
  function deployProcess() {
    echo "Deploying archive to build server..."
    docker start $CI_CONTAINER_NAME

    docker exec \
      -w '/creation' \
      $CI_CONTAINER_NAME \
      sh -c "bash $DEPLOY_SCRIPT_PATH $CI_PROJECT_NAME $CI_COMMIT_REF_NAME /archive"

    docker cp $CI_CONTAINER_NAME:/archive/. $CI_BUILD_SERVER_ARCHIVE_PATH
    docker network disconnect mysql-php-network $CI_CONTAINER_NAME
    docker stop "$CI_CONTAINER_NAME"
    docker rm -fv "$CI_CONTAINER_NAME" >/dev/null
  }

.postBuildDeployScripts: &postBuildDeployScripts |
  function dockerLogout() {
    if [[ -n "$CI_USER_VAR" ]]; then
      echo "Logout from GitLab Container Registry with CI credentials..."
      docker logout "$CI_REGISTRY"
      echo ""
    fi
  }

.cleanUpScript: &cleanUpScript |
  function failedScript() {
    export CI_CONTAINER_NAME=ci-job-$CI_PROJECT_NAME-build-deploy-$CI_COMMIT_SHA
    export running=$(docker inspect -f '{{.State.Running}}' $CI_CONTAINER_NAME)

    if [[ ! -z "$running" ]]; then
      docker network disconnect mysql-php-network $CI_CONTAINER_NAME
      docker stop $CI_CONTAINER_NAME && docker rm -fv $CI_CONTAINER_NAME
    fi
  }

.devCheckoutScripts: &devCheckoutScripts |
  export FILENAME="${CI_COMMIT_REF_NAME//[\/\.]/-}";
  export EXTRACTION_PATH="$RUNNER_PATH/shop-$FILENAME";

  function downloadProcess() {
    export RUNNER_PATH_ZIP="$EXTRACTION_PATH.zip";
    export DOWNLOAD_URL="https://build.jtl-shop.de/get/shop-$FILENAME.zip";

    curl -o $RUNNER_PATH_ZIP $DOWNLOAD_URL
    unzip -qo $RUNNER_PATH_ZIP -d $EXTRACTION_PATH
    rm $RUNNER_PATH_ZIP
  }
  function deployProcess() {
    export PHP_VERSION=$1;
    export DEPLOY_PATH="$STAGING_USER_PATH/php$PHP_VERSION/$FILENAME";
    export MIGRATION_COUNT_BEFORE=$(ls -1 $DEPLOY_PATH/update/migrations/ | wc -l);

    sudo /usr/bin/rsync -rt -og --chown=www-data:www-data $EXTRACTION_PATH/. $DEPLOY_PATH;

    export MIGRATION_COUNT_AFTER=$(ls -1 $DEPLOY_PATH/update/migrations/ | wc -l);

    if [[ $MIGRATION_COUNT_AFTER -gt $MIGRATION_COUNT_BEFORE ]]; then
      php -r "
      require_once '${DEPLOY_PATH}/includes/globalinclude.php'; \
      \$time    = date('YmdHis'); \
      \$manager = new MigrationManager(); \
      try { \
          \$result = \$manager->migrate(\$time); \
      } catch (Exception \$e) { \
          \$migration = \$manager->getMigrationById(array_pop(array_reverse(\$manager->getPendingMigrations()))); \
          \$result    = new IOError('Migration: '.\$migration->getName().' | Errorcode: '.\$e->getMessage()); \
          echo \$result->message; \
          return 1; \
      } \
      ";
    fi
  }

.test_PHP_5.6:
  stage: test
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  variables:
    PHP_VERSION_TEST_STEP: '5.6'
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - *testingScript
    - testing
  only:
    - branches
  except:
    - master
    - /^release\/.*$/

.test_PHP_7.1:
  stage: test
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  variables:
    PHP_VERSION_TEST_STEP: '7.1'
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - *testingScript
    - testing
  only:
    - branches
  except:
    - master
    - /^release\/.*$/

.test_PHP_7.2:
  stage: test
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  variables:
    PHP_VERSION_TEST_STEP: '7.2'
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - *testingScript
    - testing
  only:
    - branches
  except:
    - master
    - /^release\/.*$/

test_PHP_7.3:
  stage: test
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  variables:
    PHP_VERSION_TEST_STEP: '7.3'
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - *testingScript
    - testing
  only:
    - branches
  except:
    - master
    - /^release\/.*$/

.removeContainerPHP5.6:
  stage: cleanUpTest
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  variables:
    GIT_STRATEGY: none
    PHP_VERSION_TEST_STEP: '5.6'
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - *cleanUpTesting
    - failedTesting
  only:
    - branches
  except:
    - master
    - /^release\/.*$/
  when: on_failure

.removeContainerPHP7.1:
  stage: cleanUpTest
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  variables:
    GIT_STRATEGY: none
    PHP_VERSION_TEST_STEP: '7.1'
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - *cleanUpTesting
    - failedTesting
  only:
    - branches
  except:
    - master
    - /^release\/.*$/
  when: on_failure

.removeContainerPHP7.2:
  stage: cleanUpTest
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  variables:
    GIT_STRATEGY: none
    PHP_VERSION_TEST_STEP: '7.2'
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - *cleanUpTesting
    - failedTesting
  only:
    - branches
  except:
    - master
    - /^release\/.*$/
  when: on_failure

removeContainerPHP7.3:
  stage: cleanUpTest
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  variables:
    GIT_STRATEGY: none
    PHP_VERSION_TEST_STEP: '7.3'
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - *cleanUpTesting
    - failedTesting
  only:
    - branches
  except:
    - master
    - /^release\/.*$/
  when: on_failure

build:
  stage: build
  before_script:
    - *preBuildDeployScripts
    - dockerLogin
  script:
    - buildProcess
  after_script:
    - *postBuildDeployScripts
    - dockerLogout
  only:
    - master
    - /^release\/.*$/
    - tags
  tags:
    - build

deploy:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  before_script:
    - *preBuildDeployScripts
    - dockerLogin
  script:
    - deployProcess
    - buildscript pipeline:shop5up "$CI_PROJECT_DIR" "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
  after_script:
    - *postBuildDeployScripts
    - dockerLogout
  only:
    - master
    - /^release\/.*$/
    - tags
  when: on_success
  tags:
    - build

removeContainer:
  stage: cleanUp
  script:
    - *cleanUpScript
    - failedScript
  only:
    - master
    - /^release\/.*$/
    - tags
  when: on_failure
  tags:
    - build

.tagsDeployment:
  stage: tagsDeployment
  variables:
    GIT_STRATEGY: none
  script:
    - buildscript release:deployment "$CI_BUILD_SERVER_ARCHIVE_PATH"
  except:
    - branches
  only:
    - tags
  tags:
    - build

.stagingPreDeploy:
  stage: stagingPre
  variables:
    GIT_STRATEGY: none
  script:
    - *devCheckoutScripts
    - downloadProcess
  only:
    - release/4.06
  tags:
    - dev-checkout

.stagingDevPhp56:
  stage: staging
  variables:
    GIT_STRATEGY: none
  script:
    - *devCheckoutScripts
    - deployProcess 56
  environment:
    name: staging release/4.06 php 5.6
    url: https://$STAGING_USER-56-release-4-06.$STAGING_DOMAIN
  only:
    - release/4.06
  tags:
    - dev-checkout

.stagingDevPhp71:
  stage: staging
  variables:
    GIT_STRATEGY: none
  script:
    - *devCheckoutScripts
    - deployProcess 71
  environment:
    name: staging release/4.06 php 7.1
    url: https://$STAGING_USER-71-release-4-06.$STAGING_DOMAIN
  only:
    - release/4.06
  tags:
    - dev-checkout

.stagingDevPhp72:
  stage: staging
  variables:
    GIT_STRATEGY: none
  script:
    - *devCheckoutScripts
    - deployProcess 72
  environment:
    name: staging release/4.06 php 7.2
    url: https://$STAGING_USER-72-release-4-06.$STAGING_DOMAIN
  only:
    - release/4.06
  tags:
    - dev-checkout

.stagingDevPhp73:
  stage: staging
  variables:
    GIT_STRATEGY: none
  script:
    - *devCheckoutScripts
    - deployProcess 73
  environment:
    name: staging release/4.06 php 7.3
    url: https://$STAGING_USER-73-release-4-06.$STAGING_DOMAIN
  only:
    - release/4.06
  tags:
    - dev-checkout