stages:
  - test
  - build

archive:
  stage: build
  script:
    - buildscript pipeline:shop "$CI_PROJECT_DIR" "$CI_COMMIT_REF_NAME" "$CI_PROJECT_URL" "$CI_COMMIT_SHA"
  only:
    - master
    - /^release\/.*$/
    - tags
  tags:
    - build

testphp70:
  image: gitlab.jtl-software.de:4567/jtlshop/shop4/php70
  stage: test
  script:
    - cd includes
    - php /root/composer.phar install
    - cd ../
    - includes/vendor/bin/phpunit tests
  tags:
      - docker

testphp71:
  image: gitlab.jtl-software.de:4567/jtlshop/shop4/php71
  stage: test
  script:
    - cd includes
    - php /root/composer.phar install
    - cd ../
    - includes/vendor/bin/phpunit tests
  tags:
      - docker

testphp72:
  image: gitlab.jtl-software.de:4567/jtlshop/shop4/php72
  stage: test
  script:
    - cd includes
    - php /root/composer.phar install
    - cd ../
    - includes/vendor/bin/phpunit tests
  tags:
      - docker
