@import '../../base/sass/functions';

@import 'variables';

@import 'allstyles';

#footer, header, .fixed-search {
  .form-control {
    border-color: $primary;
  }
}
#footer, header {
  .table-striped {
    color: $header-color;
    tbody tr:nth-of-type(odd) {
      background-color: $bg-main;
    }
    tbody tr:nth-of-type(even) {
      background-color: $bg-main-ligther;
    }
    td {
      border: none;
    }
  }
  .btn-outline-primary {
    color: $header-color;
  }
  .hr-no-top {
    border: none;
  }
  .box-categories, .box-linkgroup {
    .dropdown .collapse {
       background: $footer-bg-color;
     }
   }
}
.btn-animated {
  .btn-outline-primary:hover {
    color: $header-color;
  }
}
.dropdown-item {
  .btn-link {
    color: $dropdown-link-color;
  }
}
.account-icon-dropdown {
  .dropdown-footer {
    background-color: $bg-main-ligther;
    color: $header-color;
  }
}
header {
  @include media-breakpoint-up(lg) {
    border-bottom: 4px solid $primary;
  }
}
