// colors

$gray-lighter:                      #f5f7fa;
$gray-light:                        #9b9b9b;
$gray:                              #707070;
$gray-dark:                         #525252;
$sand:                              #ebebeb;
$cool-white:                        #f8f8f8;
$primary:                           #F8BF00;
$secondary:                         transparent;
$success:                           #098B1B;
$bg-success:                        #CDE1D6;
$info:                              #525252;
$bg-info:                           #F5F7FA;
$warning:                           #F39932;
$bg-warning:                        #F9F2DC;
$danger:                            #B90000;
$bg-danger:                         #E8CCD2;

$dark:                              $gray-dark;
$gray-100:                          $gray-lighter;
$gray-500:                          $gray-light;
$gray-600:                          $gray;
$gray-700:                          $gray-dark;

// grid

$grid-gutter-width:                 32px;

// font

$font-family-sans-serif:            "Open Sans", Helvetica, Arial, sans-serif;
$headings-font-family:              "Montserrat", Helvetica, Arial, sans-serif;
$font-size-base:                    0.875rem;
$line-height-base:                  1.5;

$font-weight-normal:                400;
$font-weight-semibold:              600;
$font-weight-bold:                  600;

// heading

$h1-font-size:                      $font-size-base * 1.4286;
$h2-font-size:                      $font-size-base * 1.1429;
$h3-font-size:                      $font-size-base;
$h4-font-size:                      $font-size-base;
$h5-font-size:                      $font-size-base;
$h6-font-size:                      $font-size-base;

// buttons

$btn-box-shadow:                    none;
$btn-active-box-shadow:             none;
$btn-focus-box-shadow:              none;
$btn-decoration:                    none;
$btn-hover-decoration:              none;
$btn-font-weight:                   $font-weight-semibold;

// styles

$highlight-border-size:             .375rem;

$body-bg:                           $gray-100;
$body-color:                        $gray-600;

$headings-color:                    $gray-700;

$text-muted:                        $gray-500;

$link-color:                        $gray-700;
$link-decoration:                   underline;
$link-hover-color:                  $link-color;
$link-hover-decoration:             none;

//$breadcrumb-divider:                "/";
$breadcrumb-divider:                "\f054";
$breadcrumb-divider-back:           "\f053";
$breadcrumb-active-color:           $gray-dark;

$border-radius:                     .125rem !default;

$card-bg:                           #fff;

$searchcloud-font-size-scaling:     30%;
$navbar-light-color:                $gray-dark;

$input-bg:                          #fff;
$list-group-bg:                     #fff;
$list-group-disabled-bg:            #fff;

$progress-bar-color:                $gray;

// spacer

$spacer: 1rem;
$spacers: (
  5:                                ($spacer * 2),
  6:                                ($spacer * 3),
  7:                                ($spacer * 4),
  8:                                ($spacer * 5)
);

// paths

$url-0:                             url(../base/images/loading.gif);
$url-1:                             url(../base/images/loading-sm.gif);

// tooltips

$tooltip-font-size:                 $font-size-base/1.15;
$tooltip-color:                     $gray-dark;
$tooltip-bg:                        #fff;
$tooltip-border-radius:             $border-radius;
$tooltip-arrow-color:               $gray-dark;
$tooltip-arrow-inner-color:         #fff;

$tooltip-arrow-inner-width:         .8rem;
$tooltip-arrow-inner-height:        .4rem;
$tooltip-arrow-width:               .88rem;
$tooltip-arrow-height:              .45rem;

$tooltip-margin:                    .25rem;

// input

$border-width:                      1px;
$input-btn-padding-y:               .375rem;
$input-height:                      calc(#{$line-height-base * 1em} + #{$input-btn-padding-y * 2} + #{$border-width * 4});
$custom-control-indicator-bg:       $sand;
$custom-control-indicator-border-color: transparent;

// pagination

$pagination-border-width:           0;
$pagination-bg:                     transparent;

$pagination-hover-bg:               transparent;

$pagination-active-bg:              transparent;
$pagination-active-color:           $link-color;

$pagination-focus-box-shadow:       none;

$pagination-disabled-color:         $sand;
$pagination-disabled-bg:            transparent;

// breadcrumbs

$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          $gray-dark;
$breadcrumb-active-color:           $gray-dark;