$primary-color: #5cbcf6;
$text-color: #435A6B;
$bg-color: #fff;
$light-bg: #F5F7FA;
$muted-text: #BDBDBD;
$transition: 0.5s;

#opc {
  button {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font-size: inherit;
  }

  button.opc-btn-primary {
    border-radius: 1000px;
    border: none;
    background-color: $primary-color;
    color: $bg-color;
    text-align: left;
    padding: 12px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);

    &.opc-full-width {
      width: 100%;
      text-align: center;
    }
  }

  button.opc-btn-link {
    &:hover {
      text-decoration: underline;
    }
  }

  .tooltip {
    border: none;
    padding: 0;

    .arrow {
      display: none;
    }

    .tooltip-inner {
      background-color: $text-color;
      color: $light-bg;
      font-size: 14px;
      border-radius: 5px;
    }
  }

  .opc-filter-control {
    border: 1px solid $text-color;
    border-radius: 5px;
    display: block;
    height: 38px;
    color: inherit;
    padding: 8px;
    float: left;
    margin-bottom: 24px;
    text-align: left;
  }

  ::placeholder {
    color: $muted-text;
    font-family: "Font Awesome 5 Free", FontAwesome, sans-serif;
    font-weight: 900;
  }

  .opc-dropdown {
    padding: 0;
    position: relative;

    .opc-dropdown-btn {
      padding: 8px;
      text-align: left;
      width: 100%;

      &:after {
        display: block;
        float: right;
        content: "\f078";
        font-family: "Font Awesome 5 Free", FontAwesome, sans-serif;
        font-weight: 900;
      }
    }

    .opc-dropdown-menu {
      border: none;
      margin: 0;
      padding: 0;
      box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.125);
      min-width: 0;
      width: 100%;
      color: $text-color;

      & > * {
        display: block;
        width: 100%;
        padding: 8px 12px;

        &:hover {
          text-decoration: none;
          background-color: $light-bg;
        }
      }
    }
  }

  #opc-startmenu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1050;
    padding: 8px;
    transition: $transition;

    &.opc-close {
      left: -380px;
    }

    button {
      width: 48px;
      height: 48px;
      overflow: hidden;
      transition: 0.25s;
      white-space: nowrap;

      &:hover {
        width: 182px;

        #opc-start-label {
          opacity: 1.0;
        }
      }

      #opc-start-icon {
        width: 24px;
        height: 24px;
      }

      #opc-start-label {
        margin-left: 4px;
        margin-right: 4px;
        opacity: 0.0;
        transition: 0.25s;
      }
    }
  }

  #opc-sidebar {
    position: fixed;
    left: -380px;
    top: 0;
    width: 380px;
    height: 100vh;
    z-index: 1050;
    background-color: $bg-color;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.125);
    transition: $transition;
    font-size: 14px;
    color: $text-color;

    button, input {
      outline: none;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.opc-open {
      left: 0;
    }

    input[type=checkbox] {
      display: none;

      + label {
        cursor: pointer;
        margin: 0;
        font-weight: 500;
        
        &:before {
          content: "\f0c8";
          font-family: "Font Awesome 5 Free", FontAwesome, sans-serif;
          margin-right: 10px;
        }
      }

      &:checked + label:before {
        content: "\f14a";
        font-weight: 900;
      }
    }

    #opc-header {
      padding: 16px;
      background-color: $primary-color;
      color: $bg-color;

      #opc-sidebar-title {
        display: inline-block;
        margin: 0;
        font-size: 16px;
        color: inherit;
        font-weight: 600;
      }

      button {
        padding: 0 4px;
      }
    }

    #opc-sidebar-tools {
      margin: 24px;
      margin-bottom: 16px;

      #opc-sidebar-second-title {
        margin: 0;
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 600;
        color: inherit;
      }

      .opc-group {
        &:after {
          display: block;
          content: " ";
          clear: both;
        }
      }

      #opc-filter-search {
        width: 191px;
        margin-right: 16px;
      }

      #opc-filter-status {
        width: 125px;
      }

      #opc-bulk-actions-dropdown {
        float: right;
        width: 50%;
      }

      #opc-bulk-actions {
        width: 100%;
        text-align: right;

        &:disabled {
          color: $muted-text;
        }

        #opc-bulk-actions-label {
          margin-right: 8px;
        }
      }
    }

    #opc-sidebar-content {
      margin: 0;
      margin-top: 16px;
      padding: 0 24px;
      overflow: auto;
      max-height: calc(100vh - 208px);
      color: $text-color;

      #opc-draft-list {
        margin: 0;
        margin-bottom: 90px;
        padding: 0;
        list-style: none;

        .opc-draft {
          background-color: $light-bg;
          border-radius: 5px;
          padding: 16px;
          margin: 0;
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            .opc-draft-info .opc-draft-actions {
              visibility: visible;
            }

            .opc-draft-info .opc-draft-info-line {
              visibility: hidden;
            }
          }

          .opc-draft-status {
            font-size: 12px;
            float: right;

            &.opc-public {
              color: #0F9D48;
            }
            &.opc-planned {
              color: #F68B25;
            }
            &.opc-status-draft {
              color: $muted-text;
            }
            &.opc-backdate {
              color: #0B6AA2;
            }
          }

          .opc-draft-info {
            position: relative;
            margin-left: 26px;

            .opc-draft-info-line {
              font-size: 12px;
              color: $muted-text;

              &:first-child {
                margin-top: 14px;
                margin-bottom: 8px;
              }

              &:last-child {
                margin-top: 8px;
                margin-bottom: 0;
              }
            }

            .opc-draft-actions {
              position: absolute;
              top: -4px;
              left: -16px;
              visibility: hidden;

              > * {
                width: 34px;
                height: 34px;
                margin-right: 6px;
                display: inline-block;

                &:hover {
                  background-color: #dfe1e2;
                  border-radius: 100%;
                }
              }

              > form {
                > button {
                  width: 34px;
                  height: 34px;
                }
              }

              .opc-dropdown {
                > button {
                  width: 34px;
                  height: 34px;
                }

                .opc-dropdown-menu {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }

    #opc-sidebar-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 24px;
      padding-top: 0;
    }
  }
}

#opc-page-wrapper {
  padding-left: 0;
  transition: $transition;

  &.opc-shifted {
    padding-left: 380px;
  }
}