/* Error: Only 1 argument allowed, but 2 were passed.
 *    ,--> ../../base/bootstrap/scss/mixins/_buttons.scss
 * 24 |       @include box-shadow($btn-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5));
 *    |       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> ../../base/bootstrap-select/bootstrap-select.scss
 * 14 | @mixin box-shadow($fmt) {
 *    |        ================ declaration
 *    '
 *   ../../base/bootstrap/scss/mixins/_buttons.scss 24:7  box-shadow()
 *   ../../base/bootstrap/scss/mixins/_buttons.scss 24:7  button-variant()
 *   ../../base/sass/components/_buttons.scss 135:3       @import
 *   ../../base/sass/components/all.scss 7:9              @import
 *   _allstyles.scss 35:9                                 @import
 *   midnight.scss 5:9                                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 1 argument allowed, but 2 were passed.\a    \250c \2500 \2500 > ../../base/bootstrap/scss/mixins/_buttons.scss\a 24 \2502        @include box-shadow($btn-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5));\a    \2502        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > ../../base/bootstrap-select/bootstrap-select.scss\a 14 \2502  @mixin box-shadow($fmt) {\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   ../../base/bootstrap/scss/mixins/_buttons.scss 24:7  box-shadow()\a   ../../base/bootstrap/scss/mixins/_buttons.scss 24:7  button-variant()\a   ../../base/sass/components/_buttons.scss 135:3       @import\a   ../../base/sass/components/all.scss 7:9              @import\a   _allstyles.scss 35:9                                 @import\a   midnight.scss 5:9                                    root stylesheet";
}
