@import "fonts";

$primary-color: #5cbcf6;
$primary-lighter: lighten($primary-color, 25%);
$primary-darker: darken($primary-color, 12%);
$light-bg: #f5f7fa;
$muted-color: #bdbdbd;
$text-color: #435a6b;
$grey-dark: #525252;
$grey-light: #9b9b9b;
$portlets-gap: 22px;
$portlets-inner-padding: 24px;
$scrollbar-size: 6px;

.opc {
    font-family: "Open Sans", sans-serif;

    &.resizing, &.resizing * {
        cursor: ew-resize;
    }

    &.resizing {
        iframe {
            pointer-events: none;
        }
    }

    button, input {
        border: none;
        padding: 0;
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
        outline: none;
    }

    button {
        cursor: pointer;
    }

    iframe {
        border: none;
        display: block;
    }

    .row {
        display: flex;
        gap: 16px;

        > * {
            flex: 1;
        }
    }

    .tabs {
        display: flex;
        gap: 17px;
        margin: 0 17px;
        color: $muted-color;

        button {
            padding: 16px 2px 14px;
            border-bottom: 2px solid transparent;

            &:hover {
                color: $text-color;
            }

            &.active {
                color: $text-color;
                border-color: $text-color;
            }
        }
    }

    .tab-pane {
        &:not(.active) {
            display: none;
        }
    }

    .collapse {
        overflow: hidden;
        transition: height 0.25s;
    }

    .btn {
        display: block;
        padding: 8px 32px;
        white-space: nowrap;
        background-color: #fff;
        border: 1px solid $primary-color;
        color: $primary-color;
        border-radius: 1000px;
        box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.125);

        &:hover {
            color: $primary-darker;
        }

        &.btn-primary {
            background-color: $primary-color;
            color: #fff;

            &:hover {
                background-color: $primary-darker;
            }
        }
    }

    .btn-group {
        display: flex;
        gap: 16px;
    }

    .toggle-switch {
        cursor: pointer;

        input {
            cursor: pointer;
            appearance: none;
            width: 38px;
            height: 20px;
            border-radius: 20px;
            border: 2px solid $muted-color;
            margin: 0;
            vertical-align: middle;
            box-sizing: border-box;
            position: relative;
            margin-left: 8px;
            transition: 0.125s;

            &:before {
                position: absolute;
                left: 1px;
                top: 1px;
                content: "";
                width: 14px;
                height: 14px;
                border-radius: 16px;
                background: $muted-color;
                transition: 0.125s;
            }

            &:checked {
                border-color: $text-color;
                background: $text-color;

                &:before {
                    transform: translateX(18px);
                    background: $light-bg;
                }
            }
        }
    }

    .status-public {
        color: #0f9d48;
    }

    .status-planned {
        color: #f68b25;
    }

    .status-draft {
        color: $muted-color;
    }

    .status-backdate {
        color: #0b6aa2;
    }

    .control {
        border: 1px solid $text-color;
        border-radius: 5px;
        height: 38px;
        padding: 8px;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
    }

    .form-group {
        margin-bottom: 16px;

        label {
            display: inline-block;
            margin-bottom: 8px;
        }

        input[type=radio] ,
        input[type=checkbox] {
            display: none;

            & + label {
                margin-bottom: 0;
                cursor: pointer;
            }

            & + label:before {
                font-family: "Font Awesome 6 Free", sans-serif;
                margin-right: 8px;
            }
        }

        input[type=radio] {
            & + label:before {
                content: "\f111";
            }

            &:checked + label:before {
                content: "\f192";
            }
        }

        input[type=checkbox] {
            & + label:before {
                content: "\f0c8";
            }

            &:checked + label:before {
                content: "\f14a";
                font-weight: 900;
            }
        }
    }

    .tooltip {
        background: #000;
        color: #fff;
        font-size: 14px;
        padding: 4px 8px;
        border-radius: 4px;
        opacity: 0.75;

        &:not(.shown) {
            display: none;
        }

        .tooltip-arrow {
            &:before {
                content: "";
                width: 8px;
                height: 8px;
                background: #000;
                transform: rotate(45deg);
                display: block;
            }
        }

        &[data-popper-placement^='top'] > .tooltip-arrow {
            bottom: -4px;
        }

        &[data-popper-placement^='bottom'] > .tooltip-arrow {
            top: -4px;
        }

        &[data-popper-placement^='left'] > .tooltip-arrow {
            right: -4px;
        }

        &[data-popper-placement^='right'] > .tooltip-arrow {
            left: -4px;
        }
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        color: $text-color;
        background-color: #fff;
        z-index: 1000;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        font-size: 14px;
        line-height: 1.5;

        &:not(.shown) {
            display: none;
        }

        > * {
            padding: 8px 12px;
            text-align: left;

            &:hover {
                background-color: $light-bg;
            }
        }
    }

    .modal {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: start;
        transition: opacity 0.25s;

        &:not(.shown) {
            display: none;
        }

        .modal-dialog {
            width: 550px;
            background-color: #fff;
            font-size: 14px;
            color: $text-color;
            margin-top: 4em;

            .modal-header {
                background-color: $primary-color;
                padding: 12px 24px;
                font-size: 16px;
                color: #fff;
                display: flex;

                .modal-title {
                    flex: auto;
                }

                button {
                    flex: none;

                    &:hover {
                        color: $primary-lighter;
                    }
                }
            }

            .modal-body {
                margin: 24px;
            }

            .modal-footer {
                margin: 24px;

                .btn-group {
                    justify-content: right;
                }
            }
        }
    }
}