#configModal {
  #configModalBody {
    overflow: initial;
  }

  .modal-dialog {
    width: 700px;
    max-width: none;

    .checkbox-standalone {
      padding: 26px 0 0 2px;
    }
  }

  .product-filter-config {
    label {
      display: block;
      font-weight: bold;
    }

    .active-filters {
      margin-bottom: 10px;

      .filters-enabled {
        button {
          background-color: $text-color;
          color: $light-bg;
          padding: 4px 16px;
          border-radius: 100px;
          margin-right: 8px;
          margin-bottom: 8px;

          &.restore-all {
            background-color: $primary-color;
          }

          i {
            margin-left: 4px;
            font-size: 12px;
          }
        }
      }
    }

    .filters-section {
      background-color: $light-bg;
      border-radius: 5px;
      margin-bottom: 8px;
      padding: 16px;
      padding-bottom: 12px;

      .no-options {
        color: $muted-text;
        font-style: italic;
      }

      .filters-section-inner {
        max-height: 92px;
        overflow-y: scroll;

        &:after {
          content: "";
          display: block;
          clear: both;
        }

        .filter-option {
          width: 33%;
          float: left;
          margin-bottom: 2px;
          text-align: left;

          &:hover {
            i:before {
              content: "\f14a";
            }
          }

          i {
            margin-right: 4px;
          }
        }
      }
    }
  }
}