#tutorials {
  #tutBackdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 1049 !important;
  }

  #tutBox {
    display: none;
    width: 300px;
    background-color: white;
    position: absolute;
    box-shadow: 0 0 4px 4px black;
    z-index: 99999!important;

    &.centered {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &.centered-v {
      top: 50%;
      transform: translate(0, -50%);
    }

    &.centered-h {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &.active {
    #tutBackdrop {
      opacity: 0.5;
      pointer-events: all;
    }

    #tutBox {
      display: block;
    }
  }
}

.hightlighted-element {
  z-index: 99999!important;
  position: relative;
}

.hightlighted-modal {
  z-index: 99999!important;
}

#tutBackdrop2.active {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  pointer-events: all;
  transition: opacity 0.5s ease;
  z-index: 9999!important;
}