$primary-color:   #5cbcf6;
$primary-lighter: lighten($primary-color, 25%);
$primary-darker:  darken($primary-color, 12%);
$text-color:      #435a6b;
$text-lighter:    lighten($text-color, 16%);
$light-bg:        #f5f7fa;
$muted-text:      #bdbdbd;
$gray-dark:       #525252;
$gray-light:      #9b9b9b;
$brand-text:      #ffffff;

$portlets-gap: 22px;