$primary-color: #5cbcf6;
$primary-lighter: lighten($primary-color, 25%);
$primary-darker: darken($primary-color, 12%);
$light-bg: #f5f7fa;
$muted-color: #bdbdbd;
$text-color: #435a6b;
$grey-dark: #525252;
$grey-light: #9b9b9b;
$portlets-gap: 22px;
$portlets-inner-padding: 24px;
$scrollbar-size: 6px;