@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/OpenSans/OpenSans-BoldItalic.ttf");
}
.opc-tooltip {
  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0.75;
}
.opc-tooltip:not(.shown) {
  display: none;
}
.opc-tooltip .tooltip-arrow:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #000;
  transform: rotate(45deg);
  display: block;
}
.opc-tooltip[data-popper-placement^=top] > .tooltip-arrow {
  bottom: -4px;
}
.opc-tooltip[data-popper-placement^=bottom] > .tooltip-arrow {
  top: -4px;
}
.opc-tooltip[data-popper-placement^=left] > .tooltip-arrow {
  right: -4px;
}
.opc-tooltip[data-popper-placement^=right] > .tooltip-arrow {
  left: -4px;
}

.opc .modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: start;
  transition: opacity 0.25s;
}
.opc .modal:not(.shown) {
  display: none;
}
.opc .modal .modal-dialog {
  width: 550px;
  background-color: #fff;
  font-size: 14px;
  color: #435a6b;
  margin-top: 4em;
}
.opc .modal .modal-dialog .modal-header {
  background-color: #5cbcf6;
  padding: 12px 24px;
  font-size: 16px;
  color: #fff;
  display: flex;
}
.opc .modal .modal-dialog .modal-header .modal-title {
  flex: auto;
}
.opc .modal .modal-dialog .modal-header button {
  flex: none;
}
.opc .modal .modal-dialog .modal-header button:hover {
  color: #d5eefd;
}
.opc .modal .modal-dialog .modal-body {
  margin: 24px;
}
.opc .modal .modal-dialog .modal-body .navbar {
  margin: -24px -24px 24px -24px;
}
.opc .modal .modal-dialog .modal-footer {
  margin: 24px;
}
.opc .modal .modal-dialog .modal-footer .btn-group {
  justify-content: right;
}
.opc #configModal .modal-dialog {
  width: 800px;
}

.opc #editor #sidebar {
  display: flex;
  flex-direction: column;
  width: 380px;
  min-width: 144px;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex: none;
  z-index: 0;
}
.opc #editor #sidebar ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
.opc #editor #sidebar ::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
  border: none;
}
.opc #editor #sidebar ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #9b9b9b;
  border: 0;
}
.opc #editor #sidebar ::-webkit-scrollbar-thumb:hover, .opc #editor #sidebar ::-webkit-scrollbar-thumb:active {
  background: #9b9b9b;
  border: 1px solid #525252;
}
.opc #editor #sidebar #header {
  background-color: #5cbcf6;
  display: flex;
  gap: 8px;
  font-size: 17px;
  padding: 1em;
  color: #fff;
}
.opc #editor #sidebar #header > button {
  width: 17px;
  height: 17px;
  flex: none;
}
.opc #editor #sidebar #header > button:hover {
  color: #d5eefd;
}
.opc #editor #sidebar #header .dropdown {
  min-width: 200px;
}
.opc #editor #sidebar #header #title {
  flex: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.opc #editor #sidebar #navbar #navScrollRight,
.opc #editor #sidebar #navbar #navScrollLeft {
  background-color: #f5f7fa;
  color: #bdbdbd;
}
.opc #editor #sidebar #navbar #navScrollRight:not(.shown),
.opc #editor #sidebar #navbar #navScrollLeft:not(.shown) {
  display: none;
}
.opc #editor #sidebar #navbar #navScrollRight:hover,
.opc #editor #sidebar #navbar #navScrollLeft:hover {
  color: #435a6b;
}
.opc #editor #sidebar #navbar #navScrollLeft {
  margin-left: 8px;
}
.opc #editor #sidebar #navbar #navScrollRight {
  margin-right: 8px;
}
.opc #editor #sidebar #navbar #navtabs {
  overflow: hidden;
}
.opc #editor #sidebar #inner {
  flex: auto;
  padding: 24px;
  padding-right: 18px;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 16px;
}
.opc #editor #sidebar #inner #portlets {
  --portlets-per-row: 3;
  margin-right: -22px;
}
.opc #editor #sidebar #inner #portlets hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0;
  margin-bottom: 16px;
  width: calc(100% - 22px);
}
.opc #editor #sidebar #inner #portlets .portlet-group-button {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 22px);
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 16px;
}
.opc #editor #sidebar #inner #portlets .portlet-group-button.collapsed .fa-chevron-up {
  display: none;
}
.opc #editor #sidebar #inner #portlets .portlet-group-button:not(.collapsed) .fa-chevron-down {
  display: none;
}
.opc #editor #sidebar #inner #portlets .portlet-group {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-bottom: 22px;
}
.opc #editor #sidebar #inner #portlets .portlet-group .portlet-button {
  background-color: #f5f7fa;
  width: calc(100% / var(--portlets-per-row) - 22px);
  border-radius: 5px;
}
.opc #editor #sidebar #inner #portlets .portlet-group .portlet-button:before {
  content: "";
  float: left;
  padding-bottom: 100%;
  height: 0;
}
.opc #editor #sidebar #inner #portlets .portlet-group .portlet-button:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.125);
}
.opc #editor #sidebar #inner #portlets .portlet-group .portlet-button .portlet-button-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
}
.opc #editor #sidebar #inner #portlets .portlet-group .portlet-button .portlet-button-inner i, .opc #editor #sidebar #inner #portlets .portlet-group .portlet-button .portlet-button-inner svg {
  color: #5cbcf6;
}
.opc #editor #sidebar #inner #portlets .portlet-group .portlet-button .portlet-button-inner i {
  flex: auto;
  margin-top: 12.5%;
  font-size: 32px;
}
.opc #editor #sidebar #inner #portlets .portlet-group .portlet-button .portlet-button-inner svg {
  flex: none;
  margin-top: 20%;
}
.opc #editor #sidebar #inner #portlets .portlet-group .portlet-button .portlet-button-inner span {
  flex: none;
}
.opc #editor #sidebar #publishPanel {
  padding: 16px;
  box-shadow: -4px -3px 8px rgba(0, 0, 0, 0.125);
  position: relative;
  line-height: 1.5;
}
.opc #editor #sidebar #publishPanel #draftNameInput {
  position: absolute;
  opacity: 0;
  color: #000;
  width: calc(100% - 32px);
  cursor: pointer;
}
.opc #editor #sidebar #publishPanel #draftNameInput:focus {
  opacity: 100%;
  cursor: text;
  z-index: 1;
}
.opc #editor #sidebar #publishPanel #draftNameInput + label {
  display: block;
  margin-bottom: 8px;
  white-space: nowrap;
}
.opc #editor #sidebar #publishPanel #draftNameInput + label i {
  margin-left: 8px;
}
.opc #editor #sidebar #publishPanel #draftNameInput:focus + label {
  opacity: 0;
}
.opc #editor #sidebar #publishPanel #draftStatus {
  color: #bdbdbd;
  margin-bottom: 16px;
}
.opc #editor #sidebar #publishPanel #saveButton {
  flex: 2;
}
.opc #editor #sidebar #publishPanel #saveButton #unsavedIndicator {
  font-size: 8px;
  position: relative;
  top: -6px;
  color: #ff9b66;
}
.opc #editor #sidebar #publishPanel #publishButton {
  flex: 3;
}
.opc #editor #sidebar #previewToolbar {
  background-color: #f5f7fa;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.opc #editor #sidebar #previewToolbar .toggle-switch {
  white-space: nowrap;
}
.opc #editor #sidebar #previewToolbar #displayWidths {
  display: flex;
  gap: 24px;
}
.opc #editor #sidebar #previewToolbar #displayWidths button {
  width: 16px;
  height: 16px;
  color: #bdbdbd;
}
.opc #editor #sidebar #previewToolbar #displayWidths button.active {
  color: #435a6b;
}

.color-input-wrapper {
  display: inline-block;
  position: relative;
  --guide-size: 12px;
  --half-guide-size: calc(var(--guide-size) / 2);
}

.color-input {
  padding-left: 24px;
}

.color-display {
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  aspect-ratio: 1;
}

.colorpicker {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: var(--half-guide-size) 0;
  --sat: 0;
  --val: 1;
  --hue: 0;
  --alpha: 1;
  --hue-red: calc(
      min(max(2 - var(--hue) / 60, var(--hue) / 60 - 4, 0), 1)
  );
  --hue-green: calc(
      max(min(var(--hue) / 60, 4 - var(--hue) / 60, 1), 0)
  );
  --hue-blue: calc(
      max(min(var(--hue) / 60 - 2, 6 - var(--hue) / 60, 1), 0)
  );
  --red: calc(
      (1 - var(--sat) + var(--hue-red) * var(--sat)) * var(--val)
  );
  --green: calc(
      (1 - var(--sat) + var(--hue-green) * var(--sat)) * var(--val)
  );
  --blue: calc(
      (1 - var(--sat) + var(--hue-blue) * var(--sat)) * var(--val)
  );
  --hue-color: rgb(
      calc(var(--hue-red) * 255),
      calc(var(--hue-green) * 255),
      calc(var(--hue-blue) * 255)
  );
  --opaque-color: rgb(
      calc(var(--red) * 255),
      calc(var(--green) * 255),
      calc(var(--blue) * 255)
  );
  --full-color: rgba(
      calc(var(--red) * 255),
      calc(var(--green) * 255),
      calc(var(--blue) * 255),
      var(--alpha)
  );
}

.colorpicker.above {
  bottom: 100%;
  top: unset;
}

.color-input-wrapper:focus-within .colorpicker {
  display: block;
}

.colorpicker-config {
  display: block;
  width: 256px;
}

.colorpicker-history {
  display: flex;
  gap: 8px;
  margin: 16px;
}

.colorpicker-preset {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.colorpicker-satval,
.colorpicker-hue,
.colorpicker-alpha {
  position: relative;
}

.colorpicker-range-wrapper {
  margin: 16px;
}

.colorpicker-area,
.colorpicker-range {
  position: relative;
}

.colorpicker-area {
  width: 100%;
  height: 192px;
}

.colorpicker-range {
  height: var(--guide-size);
  border-radius: calc(var(--guide-size) / 2);
}

.colorpicker-guide {
  position: absolute;
  width: var(--guide-size);
  height: var(--guide-size);
  border-radius: 100%;
  border: 1px solid #fff;
  outline: 1px solid #ccc;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.colorpicker-range .colorpicker-guide {
  top: 50%;
}

.colorpicker-satval .colorpicker-area {
  background-image: linear-gradient(180deg, transparent, #000), linear-gradient(90deg, #fff, var(--hue-color));
}

.colorpicker-satval .colorpicker-guide {
  background-color: var(--opaque-color);
  left: calc(var(--sat) * 100%);
  top: calc((1 - var(--val)) * 100%);
}

.colorpicker-hue .colorpicker-range {
  background-image: linear-gradient(90deg, red, yellow, lime, cyan, blue, magenta, red);
}

.colorpicker-hue .colorpicker-guide {
  background-color: var(--hue-color);
  left: calc(var(--hue) / 360 * 100%);
}

.colorpicker-alpha .colorpicker-guide,
.colorpicker-alpha .colorpicker-range,
.color-display,
.colorpicker-preset {
  background-position: 0 0, 0 0, var(--half-guide-size) var(--half-guide-size);
  background-size: 100% 100%, var(--guide-size) var(--guide-size), var(--guide-size) var(--guide-size);
}

.colorpicker-alpha .colorpicker-range {
  background-image: linear-gradient(90deg, transparent, var(--opaque-color)), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%), linear-gradient(45deg, #fff 25%, #ccc 25%, #ccc 75%, #fff 75%);
}

.colorpicker-alpha .colorpicker-guide,
.color-display,
.colorpicker-preset {
  background-image: linear-gradient(90deg, currentColor, currentColor), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%), linear-gradient(45deg, #fff 25%, #ccc 25%, #ccc 75%, #fff 75%);
}

.colorpicker-alpha .colorpicker-guide {
  left: calc(var(--alpha) * 100%);
  color: var(--full-color);
}

.opc {
  font-family: "Open Sans", sans-serif;
}
.opc.resizing, .opc.resizing * {
  cursor: ew-resize;
}
.opc.resizing iframe {
  pointer-events: none;
}
.opc button, .opc input, .opc select {
  border: none;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  outline: none;
  appearance: none;
}
.opc button {
  cursor: pointer;
}
.opc iframe {
  border: none;
  display: block;
}
.opc .row {
  display: flex;
  gap: 16px;
}
.opc .row > * {
  flex: 1;
}
.opc .row .col-1 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 1 / 12 + 16px * 0);
}
.opc .row .col-2 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 2 / 12 + 16px * 1);
}
.opc .row .col-3 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 3 / 12 + 16px * 2);
}
.opc .row .col-4 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 4 / 12 + 16px * 3);
}
.opc .row .col-5 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 5 / 12 + 16px * 4);
}
.opc .row .col-6 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 6 / 12 + 16px * 5);
}
.opc .row .col-7 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 7 / 12 + 16px * 6);
}
.opc .row .col-8 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 8 / 12 + 16px * 7);
}
.opc .row .col-9 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 9 / 12 + 16px * 8);
}
.opc .row .col-10 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 10 / 12 + 16px * 9);
}
.opc .row .col-11 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 11 / 12 + 16px * 10);
}
.opc .row .col-12 {
  flex: auto;
  width: calc((100% - 11 * 16px) * 12 / 12 + 16px * 11);
}
.opc .navbar {
  background-color: #f5f7fa;
  box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.125);
  z-index: 0;
  display: flex;
}
.opc .navbar .tabs {
  display: flex;
  gap: 17px;
  margin: 0 17px;
  color: #bdbdbd;
}
.opc .navbar .tabs button {
  padding: 16px 2px 14px;
  border-bottom: 2px solid transparent;
}
.opc .navbar .tabs button:hover {
  color: #435a6b;
}
.opc .navbar .tabs button.active {
  color: #435a6b;
  border-color: #435a6b;
}
.opc .tab-pane:not(.active) {
  display: none;
}
.opc .collapse {
  overflow: hidden;
  transition: height 0.25s;
}
.opc .btn {
  display: block;
  padding: 8px 32px;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #5cbcf6;
  color: #5cbcf6;
  border-radius: 1000px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
}
.opc .btn:hover {
  color: #22a4f3;
}
.opc .btn.btn-primary {
  background-color: #5cbcf6;
  color: #fff;
}
.opc .btn.btn-primary:hover {
  background-color: #22a4f3;
}
.opc .btn-group {
  display: flex;
  gap: 16px;
}
.opc .toggle-switch {
  cursor: pointer;
}
.opc .toggle-switch input {
  cursor: pointer;
  appearance: none;
  width: 38px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #bdbdbd;
  margin: 0;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  margin-left: 8px;
  transition: 0.125s;
}
.opc .toggle-switch input:before {
  position: absolute;
  left: 1px;
  top: 1px;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 16px;
  background: #bdbdbd;
  transition: 0.125s;
}
.opc .toggle-switch input:checked {
  border-color: #435a6b;
  background: #435a6b;
}
.opc .toggle-switch input:checked:before {
  transform: translateX(18px);
  background: #f5f7fa;
}
.opc .status-public {
  color: #0f9d48;
}
.opc .status-planned {
  color: #f68b25;
}
.opc .status-draft {
  color: #bdbdbd;
}
.opc .status-backdate {
  color: #0b6aa2;
}
.opc .control {
  border: 1px solid #435a6b;
  border-radius: 5px;
  background-color: #fff;
  color: #435a6b;
  height: 38px;
  padding: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
.opc .control.color {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex: auto;
}
.opc select.control {
  background-image: url(../../../includes/node_modules/@fortawesome/fontawesome-free/svgs/solid/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  background-size: 12px;
}
.opc input.control.color-input {
  padding-left: 38px;
}
.opc .color-display {
  margin: 8px;
}
.opc .image-btn {
  display: block;
}
.opc .form-group {
  margin-bottom: 16px;
}
.opc .form-group label {
  display: inline-block;
  margin-bottom: 8px;
}
.opc .form-group .color-input-wrapper {
  width: 100%;
  display: block;
}
.opc .form-group input[type=radio],
.opc .form-group input[type=checkbox] {
  display: none;
}
.opc .form-group input[type=radio] + label,
.opc .form-group input[type=checkbox] + label {
  margin-bottom: 0;
  cursor: pointer;
}
.opc .form-group input[type=radio] + label:before,
.opc .form-group input[type=checkbox] + label:before {
  font-family: "Font Awesome 6 Free", sans-serif;
  margin-right: 8px;
}
.opc .form-group input[type=radio] + label:before {
  content: "";
}
.opc .form-group input[type=radio]:checked + label:before {
  content: "";
}
.opc .form-group input[type=checkbox] + label:before {
  content: "";
}
.opc .form-group input[type=checkbox]:checked + label:before {
  content: "";
  font-weight: 900;
}
.opc .input-group {
  display: flex;
}
.opc .dropdown {
  display: flex;
  flex-direction: column;
  color: #435a6b;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.5;
}
.opc .dropdown:not(.shown) {
  display: none;
}
.opc .dropdown > * {
  padding: 8px 12px;
  text-align: left;
}
.opc .dropdown > *:hover {
  background-color: #f5f7fa;
}
.opc .alert {
  border: 1px solid #c00;
  background-color: #fcc;
  padding: 8px 16px;
  color: #c00;
  border-radius: 4px;
}
.opc .alert i {
  margin-right: 8px;
}
.opc #editor {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 14px;
  color: #435a6b;
  line-height: 1;
  display: flex;
}
.opc #editor #resizer {
  width: 8px;
  margin-right: -8px;
  cursor: ew-resize;
  user-select: none;
  -webkit-user-select: none;
  z-index: 0;
}
.opc #editor #pageview {
  flex: auto;
}
.opc #editor #pageview #iframe {
  width: 100%;
  height: 100%;
}
.opc #domTemplates {
  display: none;
}

/*# sourceMappingURL=editor.css.map */
