.consent-btn-holder {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  align-items: left;

  @include media-breakpoint-up(md) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;

    &>div:last-child {
      margin: 1rem 0 0;
    }
  }
  &>div:last-child {
    margin: 0 0 0 auto;
  }

  &>div:first-child {
     -webkit-box-flex: 1;
     flex-grow: 1;
   }
}
